.avatar-container {
  background-color: #f5f5f5;
  padding: 1.5rem 1rem;
}

.avatarList {
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.avatarItem {
  width: 7rem;
  height: 7rem;
  margin-bottom: 0.3rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  overflow: hidden;
}

.avatarItem img {
  max-width: 100%;
}